:root {
    --cl-orange: hsl(26, 100%, 55%);
    --cl-pale-orange: hsl(25, 100%, 94%);
    --cl-very-dark-blue: hsl(220, 13%, 13%);
    --cl-dark-grayish-blue: hsl(219, 9%, 45%);
    --cl-grayish-blue: hsl(220, 14%, 75%);
    --cl-light-grayish-blue: hsl(223, 64%, 98%);
    --cl-white: hsl(0, 0%, 100%);
    --cl-black: hsl(0, 0%, 0%);

    font-size: 62.5%;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input[type=number] {
    border: none;
    width: 30px;
    background: none;
    font-weight: 900;
    text-align: right;
}

li {
    list-style: none;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

a {
    object-fit: cover;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: normal;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

body {
    font-size: 1.6em;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    width: 100vw;
    
}
.heading-1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
}
.wrapper{
    max-width: 1500px;
    padding: 20px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-block-end: 20px;
}


.nav__links {
    display: none;
    gap: 30px;
    color: var(--cl-dark-grayish-blue);
}

.nav__links.active {
    display: flex;
}
.nav__link {
    position: relative;
    transition: color 150ms ease-out;
}
.nav__link::after{
    content: '';
    width:100%;
    height: 4px;
    background-color: var(--cl-orange);
    position: absolute;
    bottom: 0;
    left: 0;
    translate: 0 33px;
    scale: 0;
    transition: scale 150ms ease-out;
}
.nav__link:hover::after {
    scale: 1;
}

.nav__link:hover {
    color: var(--cl-black);
}
.shopping-cart {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
}

#shopping-cart-content {
    position: absolute;
    top: 50px;
    left: 0;
    height: 200px;
    width: 100%;
    background-color: aquamarine;
    display: none;
}

.logo-cart {
    cursor: pointer;
    position: relative;
}
#cart {
    position: absolute;
    left: -170px;
    top: calc(100% + 15px);
    width: 350px;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--cl-white);
    box-shadow: 0px 0px 2px rgba(0,0,0,.45);
    z-index: 1;
    align-items: center;
    transition: height 150ms linear;
    border-radius: 5px;
    height: 0;
    overflow: hidden;
    display: none;
}



#cart.visible {
    height: unset;
    display: flex;
}

#cart .product-container, #cart .line-1 {
    display: flex;
    gap: 10px;
}

.cart__content, .product-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart__content img {
    max-width: 40px;
}

.product-line {
    display: flex;
    gap: 7px;
}

.user__avatar {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border 150ms ease-out;
    cursor: pointer;
}

.user__avatar:hover {
    border: 2px solid var(--cl-orange);
}

.user__avatar > img {
    height: 100%;
}

.divider{
    height: 2px;
    width: 100%;
    background-color: rgba(0,0,0,.065);
    position: absolute;
    bottom: -2px;
    left: 0;
}
/** details **/
#section-details {
    margin-top: 50px;
}

.details-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
}

.left-col, .right-col {
    flex: 1;
    padding: 30px;
}
.left-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    line-height: 1.5;
}
.full-image, #overlay-selected-image {
    max-width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

:is(.overlay-selected-image, .full-image) > img {
    border-radius: 20px;
    cursor: pointer;
}

.thumbnails {
    display: flex;
    gap: 20px;
    width: 100%;
}

.thumbnail {
    max-height: 150px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: border 150ms ease-out;
    cursor: pointer;
    position: relative;
}

.thumbnail.selected{
    border: 2px solid var(--cl-orange);
}
.thumbnail:is(.selected,:hover)::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, .665);
}

.thumbnail > img {
    height: 100%;
}

.caption {
    color: var(--cl-orange);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
}

.product__description {
    color: var(--cl-dark-grayish-blue);
}

.full__prices {
    display: flex;
    gap: 10px;
    align-self: flex-start;
}

.discount__percentage {
    border-radius: 5px;
    background-color: var(--cl-pale-orange);
    padding: 2px 3px;
    color: var(--cl-orange);
    font-weight: 700;
}

.prices {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.price {
    font-weight: 700;
    font-size: 20px;
}

.price__before-discount {
    color: var(--cl-dark-grayish-blue);
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: line-through;
}

.actions {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.actions > * {
    flex: 1;
}
.btn {
    border: none;
    appearance: none;
    background: none;
    padding-block: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn__primary {
    background-color: var(--cl-orange);
    padding-inline: 60px;
    font-weight: 700;
    color: var(--cl-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.btn__primary:hover::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, .665);
}

.btn__primary > span {
    text-wrap: nowrap;
}

.btn__minus, .btn__plus {
    font-weight: 700;
    padding: 10px;
    color: var(--cl-orange);
    font-size: 22px;
}

.btn__minus > img {
    position: relative;
    top: -3px;
}

.counter {
    display: flex;
    background-color: var(--cl-light-grayish-blue);
    border-radius: 10px;
    align-items: center;
}

.counter > * {
    flex: 1;   
}

.cart__icon {
    height: 16px;
    width: 16px;
    mask-image: url('images/icon-cart.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--cl-white);
}

#product-overlay {
    position: fixed;
    background-color: rgba(0,0,0,.65);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.overlay-selected-image {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 70%;
    aspect-ratio: 1/1;
    max-width: 650px;
    position: relative;
}

.overlay-selected-image > .close-btn {
    align-self: flex-end;
    cursor: pointer;
}

.overlay-selected-image .thumbnails {
    justify-content: center;
}

.overlay-selected-image .thumbnail {
    max-width: 85px;
}

.btn-previous, .btn-next {
    position: absolute;
    top: calc(50% - 40px);
    padding: 5px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-previous {
    left: -20px;
}

.btn-next {
    right: calc(-20px);
}

.tbn > svg {
    user-select: none;
}
.separator {
    width: 100%;
    background: rgba(0,0,0,.045);
}


@media  screen and (min-width: 990px) {
    .details-wrapper {
        flex-direction: row;
        justify-content: flex-start;
    }

    .nav__links {
        display: flex;
    }

    .full-image, #overlay-selected-image {
        max-width: 500px; 
    }
    .right-col {
        align-items: initial;
    }
    .actions {
        width: auto;
        flex-direction: row;
    }

    .actions > * {
        flex-grow: 0;
    }

    .counter {
        max-width: 100px;
    }
}